<div id={{project.id}} class="modal fade modal-fullscreen force-fullscreen" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>{{uppercase project.title}}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-body">
        <div class="container">
          <div class="row top-margin">
            <div class="col-md-8">
              <img src="{{project.images.[0]}}" alt="" class="img-responsive center-block" style="width: 100%; max-height: 440px;">
            </div>

            <div class="col-md-4" style="max-height: 420px; overflow: scroll;">
              <div class="row">
                <a href="{{project.links.[1]}}"><img src="icons/github.svg" style="width: 50px;"/></a>
                <a href="{{project.links.[0]}}"><img src="icons/demo.svg" style="width: 50px;"/></a>
                {{#if project.links.[2]}}
                <a href="{{project.links.[2]}}"><img src="icons/api.svg" style="width: 50px;"/></a>
                {{/if}}
              </div>
              <h2 style="text-align: justify;">{{project.header}}</h2>
              <p style="text-align: justify;">{{{project.description}}}</p>
              {{#each project.skills as |skill|}}
                <p>{{skill.skill}}</p>
              {{/each}}
            </div>

          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12" style="text-align: center">
              <button type="button" class="btn custom-btn-2" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
