{{portfolio-navbar}}
{{about-me profiles=model.profiles}}
{{portfolio-projects projects=model.projects}}
{{portfolio-skills skills=model.skills}}

<div id="educations" style="background-image:url(line.svg); background-position:center; background-repeat: no-repeat; overflow: scroll;">
  <div class="container-fluid">
    {{portfolio-educations educations=model.educations}}
    {{portfolio-achievements achievements=model.achievements}}
  </div>
</div>

{{portfolio-contacts links=model.links}}
