<h2>About Me</h2>
{{link-to 'left-educations' 'educations'}}
{{link-to 'right-projects' 'projects'}}
{{#each model as |profile|}}
<h4>{{profile.name}}</h4>
<h4>{{profile.industry}}</h4>
<h4>{{profile.currently}}</h4>
<h4>{{profile.education}}</h4>
<img style="width: 200px; height: auto;"src="{{profile.profile_image}}" />
{{/each}}
